/* Navigation Bar */

#main-navbar {
	background-color: blue;
	width: 100%;
	position: relative;
	overflow: hidden;
}

#navbar-container {
	position: relative;
	float: left;
	left: 50%;
	display: block;
}

#navbar-container ul {
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0;
	right: 50%;
	float: left;
	display: block;
}

#navbar-container ul li {
	float: left;
	padding: 10px 20px;
}

#navbar-container ul li a {
	color: #fff;
	text-decoration: none;
}

#navbar-container li:hover {
	text-decoration: underline overline;
	background-color: #000;
}

/* Sidebar */

#sidebar { 
	background-color: red;
	position: fixed;
	height: 100%;
	width: 20%;
	right: 0%;
}

#sidebar-container {
	text-align: center;
}

#sidebar-container ul {
	list-style-type: none;
	display: block;
	padding: 0;
}

#sidebar-container ul li {
	padding: 15px 0;
}

#sidebar-container ul li a {
	color: #fff;
	text-decoration: none;
}

#sidebar-container li:hover {
	background-color: #000;
}